@model IEnumerable<MVCPrcatice.Models.Customer>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <div class="col-md-4">
   
    </div>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
               ProfilePicture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                <a href="@Url.Action("ExportCustomers", "Customer")" class="btn btn-success">Export as CSV</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id= @item.Id>
            <td>
                <img src="@Url.Content("~/ProfilePicture/" + item.ImageUrl)" style="width: 70px; height: 65px; object-fit: cover; border-radius: 24%;" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
              <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary">
                <i class="fas fa-edit"></i> 
              </a>  
               <a class="btn btn-danger delete-btn" data-id="@item.Id.ToString()">
               <i class="fas fa-trash-alt"></i> 
              </a>
              <a href="@Url.Action("GetCustomer", new { id = item.Id })" class="btn btn-secondary open-modal">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
              </a>
            </td>

        </tr>
}
    </tbody>
</table>




<div class="modal fade" id="CustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Customer Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="customerDetails">
        </div>
      </div>
    </div>
  </div>
</div>



@*
<div id="delete-modal" class="modal">
    <div class="modal-content">
        <h2>Are you sure you want to delete?</h2>
        <div class="btn-group">
            <button id="delete-yes" class="btn btn-danger">Yes</button>
            <button id="delete-no" class="btn btn-secondary">No</button>
        </div>
    </div>
</div>
*@



   @section scripts{

       @*<script src="~/js/site.min.js"></script>*@


   }



